/****** VARIABLES ******/
:root {
  --main-bg-color: #3e2e88;
}

/****** BASELINE ******/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines what 1 rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

span,
p,
a {
  font-size: 1.6rem;
}

.header {
  min-height: 4.4rem;
}

.main {
  min-height: 66vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****** MAP STYLES ******/

/****** FOOTER STYLES ******/

.footer {
  min-height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar__list-item {
  padding: 1rem;
}
